###############################
###########StoneDrop###########
######### Wersja: v0.1 ########
###### Autor: DomCie99 ######
###############################

config:
  #Debug
  debug: false
  
  #Baza: FLAT, SQLite, MySQL
  datatype: 'flat'
  
  fortune:
    #Ile itemów na lvl enchantu
    level1: 2
    level2: 3
    level3: 4
  
  #Limit czasu turbodropu (w sekundach)
  limitTurbodrop: 86400 #1 dzien

  #Anulowanie rud
  cancel-ores:
  - DIAMOND_ORE
  - IRON_ORE
  - COAL_ORE
  - GOLD_ORE
  - LAPIS_ORE
  
  #Procent do kazdego dropu, ktory jest doliczany podczas aktywnego turbodropu
  activeTurbodropLoot: 2.5
  
  #Potrzebna ilosc XP do awansu do nastepnego poziomu
  xp: 1500
  
  #Gui
  gui:
    name: '&8» &6Drop &8»'
    
    selections:
      drop:
        name: '&8» &6Drop z kamienia &8»'
        item: STONE
        lore:
        - '&8» &7Kliknij, aby wyswietlic drop z kamienia'
        show:
          #Lore kazdego itemu
          #Zmienne: {MINY}, {MAXY}, {CHANCE}, {BIOMES}, {TOOLS}, {FORTUNE}
          lore:
          - '&8» &7Szansa: &6{CHANCE}'
          - '&8» &7Wysokosc: &6{MINY}-{MAXY}'
          - '&8» &7Na biomach: &6{BIOMES}'
          - '&8» &7Narzedzia: &6{TOOLS}'
          - '&8» &7Fortuna: &6{FORTUNE}'
          - '&8» &7Aktywny: &6{STATUS}'
      top:
        name: '&8» &6Najlepsi gornicy &8»'
        item: NETHER_STAR
        lore:
        - '&8» &7Kliknij, aby wyswtetlic najlepszych gornikow'
        show:
          name: '&8» &6{POZYCJA}. &7{NICKNAME}'
          lore:
          - '&8» &7XP: &6{XP}/{NEED}'
          - '&8» &7Poziom w gornictwie: &6{LEVEL}'
      msg:
        name: '&8» &6Wiadomosci &8»'
        item: PAPER
      stats:
        name: '&8» &6Statystyki &8»' 
        item: EYE_OF_ENDER
        lore: 
        - '&8» &7Kliknij, aby wyswietlic statystyki'
        show:
          xp:
            item: EXP_BOTTLE
            #Zmienne: {XP}, {NEED}
            name: '&8» &7XP: &6{XP}/{NEED}'
          level:
            item: DIAMOND_PICKAXE
            #Zmienne: {LEVEL}
            name: '&8» &7Poziom: &6{LEVEL}'
      dropdisable:
        name: '&8» &6Drop &8»'  
        item: GOLD_SPADE   
      cobble:
        name: '&8» &6Cobblestone &8»'
        item: COBBLESTONE
      turbodrop:
        name: '&8» &6Turbodrop &8»'
        item: DIAMOND_PICKAXE
        #Zmienne: {TIMELEFT}
        lore:
        - '&8» &7Pozostaly czas: &6{TIMELEFT}'
        - '&8» &7Mozesz zakupic na &6WWW'
        
      statusON:
      - '&8» &7Aktywny: &aTak'
      - '&8» &7Kliknij, aby zmienic'
      statusOFF:
      - '&8» &7Aktywny: &cNie'
      - '&8» &7Kliknij, aby zmienic'
      active: '&aTak'
      disable: '&cNie'
      
  

#Baza danych
mysql:
  ip: '127.0.0.1'
  username: 'root'
  password: ''
  dbname: 'drop'
  port: 3306

#Dropy
drops:
  'DIAMENT':
    chance: 3.7
    xp: 7
    fortune: true
    #{PLAYER}, {XP}, {AMOUNT}
    message: '&8» &7Wydropiles &bDiament &7(&6{AMOUNT}szt&7) &6+{XP}'
    biome: []
    height:
      minY: 0
      maxY: 256
    exp: 4
    tools: []
    drop:
      what: DIAMOND
      from: STONE
